<div id="detailed-results-container" class="container-content content-favourites">
  <h1 class="mdc-typography--headline4 v-margin-full">
    My favourites
  </h1>

  {{#compare @root.data.favourite_opportunities.current.hits.total "===" 0}}
    <p class="mdc-typography--body1">
      You don't yet have any opportunities in your favourites. To add an opportunity, click the &ensp;<strong><span class="far fa-star mdc-chip__icon mdc-chip__icon--leading" aria-hidden="true"></span>&ensp;Favourite</strong>&ensp;button.
    </p>
  {{/compare}}

  {{#compare @root.data.favourite_opportunities.current.hits.total ">" 0}}
    {{#each @root.data.favourite_opportunities.current.hits.hits ~}}
      {{> opportunity_search_result _source}}
    {{/each ~}}
    <div class="foot">
      {{> pagination paging=@root.data.favourite_opportunities.current.pagination}}
    </div>
  {{/compare}}
</div>