<div class="container-fluid container-content content-page">
  <h2>Search widget builder</h2>
  <p class="mdc-typography--body1">

  </p>
  <h4>Preview</h4>
  <script type="text/javascript" src="https://widget.scvo.org/widget.js" data-url="/widget"></script>
</div>