{{> widget_style}}
<div class="volorgs-main">
  <div class="volorgs-inner">
    {{> widget_organisation_search_form}}

    {{#compare @root.data.primaryResponse.hits.total ">" 0 ~}}
    {{#each @root.data.primaryResponse.hits.hits ~}}
    {{> organisation_full _source view="widget"}}
    {{/each ~}}
    {{/compare ~}}

    {{#compare @root.data.organisationOpportunities.opportunities_open.hits.total ">" 0 ~}}
    <div class="x-padding-full">
      <h3 class="mdc-typography--headline5">
        Current opportunities
      </h3>
      {{#each @root.data.organisationOpportunities.opportunities_open.hits.hits ~}}
      {{> opportunity_list _source view="widget"}}
      {{/each ~}}
    </div>
    {{/compare ~}}
  </div>
</div>