{{> widget_style}}
<div class="volorgs-main">
  <div class="volorgs-inner">
    {{> widget_organisation_search_form}}

    <div class="h-padding-full">
      {{#compare @root.data.search_data.detailed_results.hits.total ">" 0}}
        <div class="mdl-tabs mdl-njs-tabs mdl-js-ripple-effect">
          <div class="mdl-tabs__tab-bar">
            <a href="#/organisations/search{{> query_search}}" class="mdl-tabs__tab is-active">
              <span class="material-icons icon-left" aria-hidden="true">list</span>
              List
            </a>
            <a href="#/organisations/map{{> query_search}}" class="mdl-tabs__tab">
              <span class="material-icons icon-left" aria-hidden="true">place</span>
              Map
            </a>
          </div>
        </div>
      {{/compare}}

      <div class="v-margin-full">
        {{> search_info paging=@root.data.search_data.detailed_results.pagination}}
      </div>

      <div class="mdl-grid results-list">
        {{#each @root.data.search_data.detailed_results.hits.hits ~}}
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
          {{> organisation_search_result _source distance=fields.distance.[0] view="widget"}}
        </div>
        {{/each ~}}
      </div>

      <div class="foot">
        {{> pagination paging=@root.data.search_data.detailed_results.pagination type="widget"}}
      </div>
    </div>
  </div>
</div>