<div class="content page-content">
<h2 class="mdc-typography--headline6">Copy for register interest email</h2>

{{>emails_register_interest_body @root.request.body}}

<h2 class="mdc-typography--headline6">Copy for user confirmation email</h2>

{{>emails_confirmation_body @root.request.body}}
</div>