<div id="detailed-results-container" class="container-content content-newsletters">
  <h1 class="mdc-typography--headline4 v-margin-full">
    Newsletters
    {{#unless @root.request.params.query.newuser ~}}
    <span class="mdc-typography--body2">&ensp;Sent on a quarterly basis</span>
    {{/unless ~}}
  </h1>
  {{#if @root.request.params.query.newuser ~}}
  <h2 class="mdc-typography--headline6 v-margin-full">
    Use the buttons below to opt in to quarterly email updates or <a href="/">start looking for opportunities</a>.
  </h2>
  {{/if ~}}
  <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list mdc-elevation--z0">
    <li class="mdc-list-item mdc-list-item--header hide-sm">
      <span class="mdc-list-item__graphic far hide-sm" aria-hidden="true"></span>
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone saved-search">
          <span class="mdc-list-item__text">
            <strong>Newsletter</strong>
          </span>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-phone align-centre">
          <span class="mdc-list-item__text">
            <strong>Subscribe</strong>
          </span>
          </div>
        </div>
      </div>
    </li>

    {{#each @root.data.all-newsletter-info.result}}
      <li class="mdc-list-item mdc-ripple-upgraded">
        <span class="mdc-list-item__graphic far fa-newspaper fa-2x hide-sm" aria-hidden="true"></span>
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone saved-search">
            <span class="mdc-list-item__text">
              <p>{{{Name}}}</p>
            </span>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-phone align-centre">
              <div class="mdc-chip-set mdc-chip-set--filter">
                {{#> ajax_chip
                  onUrl=(concat "/add-newsletter-subscription/" ListID)
                  offUrl=(concat "/remove-newsletter-subscription/" ListID)
                  onText="Email"
                  offText="Email"
                  onMethod="GET"
                  offMethod="GET"
                  iconClasses="far fa-envelope"
                  on=(contains @root.data.user-newsletter-subscriptions ListID)
                }}
                  {}
                {{/ajax_chip}}
              </div>
            </div>
          </div>
        </div>
      </li>
      {{#unless @last}}
        <li class="mdc-list-divider hide-sm" role="separator"></li>
      {{/unless ~}}
    {{/each ~}}
  </ul>
</div>