<div class="mdc-drawer__content">
  <h3 class="mdc-typography--headline6 h-padding-full t-margin-full">
    My Volunteer Account
  </h3>
  <nav class="mdc-list">
    {{#each @root.context.metaData.menus.user-signed-in ~}}
    {{#compare label "!==" "Search" ~}}
    {{#compare label "!==" "Sign out" ~}}
    <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname route "gi")}} mdc-list-item--activated{{/if}}" href="{{stripTrailingSlash path}}" role="menuitem">
      {{#if icon ~}}
      <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
      {{/if ~}}
      {{{label}}}
    </a>
    {{/compare ~}}
    {{/compare ~}}
    {{/each ~}}
  </nav>
</div>