{{#unless (contains (map @root.data.registeredInterest.items.[0] (getProp "value")) id)}}
  <a href="register-interest/{{slug}}" class="mdc-chip">
    <span class="far fa-envelope-open-text mdc-chip__icon mdc-chip__icon--leading" aria-hidden="true"></span>
    <span class="mdc-chip__text noselect">Register interest</span>
  </a>
{{else}}
  <div class="mdc-chip mdc-chip--selected">
    <span class="far fa-envelope mdc-chip__icon" aria-hidden="true"></span>
    <span class="mdc-chip__text noselect">Interest registered</span>
  </div>
{{/unless}}