<div class="">Thanks</div>

<a class="resp-sharing-button__link noext" href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsharingbuttons.io" target="_blank" rel="noopener" aria-label="Share on Facebook">
  <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--large"><div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
  </div><span class="fab fa-facebook resp-sharing-logo" aria-label="Menu"></span> Share on Facebook</div>
</a>

<a class="resp-sharing-button__link noext" href="https://twitter.com/intent/tweet/?text={{> social_link_text}}" target="_blank" rel="noopener" aria-label="Share on Twitter">
  <span class="fab fa-3x fa-twitter " aria-label="Share on Twitter"></span><span class="" Share on Twitter</div>
</a>