<div class="mdc-typography--body1">Let other people know about this opportunity using social media:</div>

<div class="mdc-card__share">
  <a class="resp-sharing-button resp-sharing-button--facebook mdc-button mdc-button--raised noext" href="https://facebook.com/sharer/sharer.php?display=popup&u={{opportunity.url}}" target="_blank" rel="noopener" aria-label="Share on Facebook">
    <span class="fab fa-facebook resp-sharing-logo mdc-list-item__graphic" aria-label="Share on Facebook"></span> Share on Facebook
  </a>

  <a class="resp-sharing-button resp-sharing-button--twitter mdc-button mdc-button--raised noext" href="https://twitter.com/intent/tweet/?text={{> social_link_text opportunity=opportunity}}" target="_blank" rel="noopener" aria-label="Share on Twitter">
    <span class="fab fa-twitter resp-sharing-logo mdc-list-item__graphic" aria-label="Share on Twitter"></span> Share on Twitter
  </a>
</div>