{{#if description ~}}
<div class="search-result-article__snippet {{#compare view 'widget'}}mdl-card__supporting-text{{else}}mdc-typography--body1{{/compare}} faded-overflow" style="height:{{limit}};">
  {{{description}}}
</div>
{{/if ~}}