<div class="mdc-card content-primary list" data-opportunity-id="{{Id}}" data-opportunity-layout="List" data-opportunity-context="{{default viewContext "Other"}}">
  {{> opportunity_key_info type="list"}}
  {{#unless (compare view 'widget') ~}}
  <hr class="mdc-list-divider" />
  {{/unless ~}}
  {{> opportunity_description limit="10.5rem" description=description}}
  {{#unless (compare view 'widget') ~}}
  {{> opportunity_actions slug=slug Id=Id}}
  {{/unless ~}}
</div>