<div class="mdc-card content-primary mini" data-opportunity-id="{{Id}}" data-opportunity-layout="Mini" data-opportunity-context="{{default viewContext "Other"}}">
  {{> opportunity_key_info}}
  {{> opportunity_description limit="4.5rem" description=description}}
  {{> opportunity_actions slug=slug Id=Id}}
</div>