<div class="mdc-card content-primary mini" data-event-id="{{Id}}" data-event-layout="Mini" data-event-context="{{default viewContext "Other"}}">
  {{> event_key_info}}
  {{> event_description limit="4.5rem" description=description}}
  {{> event_actions slug=slug Id=Id}}
</div>