<div class="mdc-list-group advanced-checkbox-list" data-advanced-checkbox-list="{{name}}">
  <h3 class="mdc-list-group__subheader cursor-pointer noselect" data-acl-collapse-trigger>
    <span class="mdc-icon-toggle mdc-icon-toggle-xs pull-right" data-acl-clear>
      <span class="far fa-trash" aria-hidden="true"></span>
    </span>
    {{{label}}}
  </h3>
  <ul class="mdc-list mdc-list--dense" style="display:none;" role="group" aria-label="{{label}}">
    {{> @partial-block}}
  </ul>
  <div class="collapse-trigger cursor-pointer noselect" data-acl-collapse-trigger>
    <span class="fas fa-chevron-down pull-centre" data-acl-collapse-icon-collapsed="fa-chevron-down" data-acl-collapse-icon-open="fa-chevron-up"></span>
  </div>
</div>